<template>
    <v-row justify="center">
        <v-col cols="12">
            <v-dialog
                v-model="dialog"
                width="500"
            >
                <template v-slot:activator="{ on }">
                    <v-btn
                    color="indigo lighten-2"
                    dark
                    v-on="on"
                    >
                    Adicionar um cartão
                    </v-btn>
                </template>
                <v-card color="white" light>
                    <v-card-title class="headline">Adicionar</v-card-title>

                    <v-form ref="form" v-model="valid">
                        <v-card-subtitle class="mt-1">
                            <v-text-field
                                v-model="card.title"
                                :counter="50"
                                :rules="fieldRules"
                                label="Titulo"
                                required
                            ></v-text-field>
                            <v-select
                                v-model="card.color"
                                :items="colors"
                                item-text="name"
                                item-value="color"
                                :rules="fieldRules"
                                label="Cor do Card"
                                required
                            ></v-select>
                            <v-textarea
                                class="mt-2"
                                solo
                                v-model="card.text"
                                :rules="fieldRules"
                                name="input-7-4"
                                label="Texto do Card"
                                required
                            ></v-textarea>
                        </v-card-subtitle>

                        <v-card-actions>
                            <v-btn text class="secondary" @click="resetForm">Limpar Campos</v-btn>
                            <v-btn text class="primary" :disabled="!valid" 
                                @click="addCard">
                                Adicionar Cartão
                            </v-btn>
                        </v-card-actions>
                    </v-form>
                </v-card>
            </v-dialog>
        </v-col>
    </v-row>
</template>

<script>
import colors from '@/data/colors'

export default {
    data() {
        return {
            dialog: false,
            valid: true,
            colors,
            card: {
                title: "",
                color: "",
                text: ""
            },
            fieldRules: [v => !!v || 'Não pode ser vazio']
        }
    },
    methods: {
        resetForm(){
            this.$refs.form.reset()
        },
        addCard(){
            if(this.$refs.form.validate()){
                this.$store.dispatch('addCard', this.card)
                this.resetForm()
            }
            this.dialog = false
        }
    }
}
</script>

<style>

</style>