<template>
  <div>
    <AddCard />
    <v-row>
      <Card v-for="card in cards" :key="card.id" :card="card" />
    </v-row>
  </div>
</template>

<script>
import Card from './Card'
import AddCard from './AddCard'

export default {
  components: { Card, AddCard },
  computed: {
    cards(){
      return this.$store.getters.getCards
    }
  },
  created(){
    this.$store.dispatch('stateCards')
  }
}
</script>

<style>

</style>