<template>
    <v-col cols="4">
        <v-card :color="card.color" dark>
            <v-card-title class="headline">{{ card.title }}</v-card-title>

            <v-card-subtitle>
                {{ card.text }}
            </v-card-subtitle>

            <v-card-actions>
                <v-btn text @click="delCard">Excluir</v-btn>
                <v-btn text @click="dialogEdit = !dialogEdit">Editar</v-btn>
            </v-card-actions>
            <EditCard v-if="dialogEdit" v-model="dialogEdit" :card="card"/>
        </v-card>
    </v-col>
</template>

<script>
import EditCard from './EditCard'

export default {
    components: { EditCard },
    props: ['card'],
    data() {
        return {
            dialogEdit: false
        }
    },
    methods: {
        delCard(){
            this.$store.dispatch('deleteCard', this.card.id)
        }
    }
}
</script>

<style>

</style>