<template>
    <v-dialog :value="value" @input="$emit('input')" width="500">
        <v-card color="white" light>
            <v-card-title class="headline">Atualizar Card</v-card-title>

            <v-form ref="form" v-model="valid">
                <v-card-subtitle class="mt-1">
                    <v-text-field
                        v-model="cardEdit.title"
                        :counter="50"
                        :rules="fieldRules"
                        label="Titulo"
                        required
                    ></v-text-field>
                    <v-select
                        v-model="cardEdit.color"
                        :items="colors"
                        item-text="name"
                        item-value="color"
                        :rules="fieldRules"
                        label="Cor do Card"
                        required
                    ></v-select>
                    <v-textarea
                        class="mt-2"
                        solo
                        v-model="cardEdit.text"
                        :rules="fieldRules"
                        name="input-7-4"
                        label="Texto do Card"
                        required
                    ></v-textarea>
                </v-card-subtitle>

                <v-card-actions>
                    <v-btn text class="secondary" @click="resetForm">Limpar Campos</v-btn>
                    <v-btn text class="primary" :disabled="!valid" 
                        @click="editCard">
                        Atualizar Cartão
                    </v-btn>
                </v-card-actions>
            </v-form>
        </v-card>
    </v-dialog>
</template>

<script>
import colors from '@/data/colors'

export default {
    props: ['value', 'card'],
    data() {
        return {
            valid: true,
            cardEdit: { ...this.card },
            colors,
            fieldRules: [v => !!v || 'Não pode ser vazio']
        }
    },
    methods: {
        resetForm(){
            this.$refs.form.reset()
        },
        editCard(){
            if(this.$refs.form.validate()){
                this.$store.dispatch('editCard', this.cardEdit)
                this.resetForm()
            }
            this.closeDialog()
        },
        closeDialog(){
            this.$emit('input')
        }
    },
}
</script>

<style>

</style>