<template>
    <v-row>
        <v-col cols=12>
            <div>
                <h1 class="display-1 font-weight-light mb-4">Crie e Organize seus Cards</h1>
                <v-sheet v-if="user" :elevation="6" class="pa-2 primary">
                    <v-icon class="white--text mr-3 pb-1">mdi-information</v-icon>
                    <span class="headline white--text font-weight-light">
                        Você pode Gerenciar seus cards a partir das opções do menu
                    </span>
                </v-sheet>
                <v-sheet v-else :elevation="6" class="pa-2 primary darken-1 mt-3">
                    <v-icon class="white--text mr-3 pb-1">mdi-information</v-icon>
                    <span class="headline white--text font-weight-light">
                        Entre ou Crie uma conta para começar a gerenciar seus cards
                    </span>
                </v-sheet>
            </div>
        </v-col>
    </v-row>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
    computed:{
        ...mapGetters('users', ['user']),

    }
}
</script>

<style>

</style>