<template>
    <v-row
          align="center"
          justify="center"
        >
          <v-col
            cols="12"
            sm="8"
            md="4"
          >
            <v-card class="elevation-6">
              <v-toolbar
                color="primary"
                dark
                flat
              >
                <v-toolbar-title>Logar no Sistema</v-toolbar-title>
                <v-spacer />
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field
                    label="Login"
                    name="login"
                    type="text"
                    v-model="email"
                  />

                  <v-text-field
                    id="password"
                    label="Password"
                    name="password"
                    type="password"
                    v-model="password"
                  />
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-btn color="secondary" to="/register">Ir para Cadastro</v-btn>
                <v-spacer />
                <v-btn color="primary" @click.stop="signUser">Entrar</v-btn>
              </v-card-actions>
            </v-card>
            <v-fade-transition>
              <v-alert class="mt-4" v-if="showError"
                border="top" color="red lighten-2" dark>
                  Não foi possivel logar, tente novamente !!!
              </v-alert>
            </v-fade-transition>
          </v-col>
        </v-row>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  data(){
    return {
      email: "",
      password: "",
      showError: false
    }
  },
  watch: {
    status(newValue){
      if(newValue === 'failure'){
        this.showError = true
        // console.error(this.error)
        setTimeout(() => {
          this.showError = false
        }, 2000)
      } else if(newValue === 'success'){
        this.$router.push('/')
      }
    }
  },
  computed: {
    ...mapGetters('users', ['error', 'status'])
  },
  methods:{
    signUser(){
      this.$store.dispatch('users/signUser', {
        email: this.email,
        password: this.password
      })
      this.clearFields()
    },
    clearFields(){
      this.password = ""
      this.email = ""
    }
  }
}
</script>

<style>

</style>