<template>
  <v-row>
        <v-col cols=12>
            <h1>Usuario Logado</h1>
            <p>
                <strong>Email</strong> {{ user.email }}
            </p>
            <p>
                <strong>UID</strong> {{ user.uid }}
            </p>
        </v-col>
    </v-row>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
    computed: {
        ...mapGetters('users', ['user'])
    }
}
</script>

<style>

</style>