<template>
    <v-row
          align="center"
          justify="center"
        >
          <v-col
            cols="12"
            sm="8"
            md="4"
          >
            <v-card class="elevation-12">
              <v-toolbar
                color="primary"
                dark
                flat
              >
                <v-toolbar-title>Cadastrar uma Conta</v-toolbar-title>
                <v-spacer />
              </v-toolbar>
              <v-card-text>
                <v-form ref="form" v-model="valid">
                  <v-text-field
                    label="Email"
                    name="login"
                    type="text"
                    v-model="email"
                  />

                  <v-text-field
                    id="password"
                    label="Senha"
                    :rules="passRules"
                    name="password"
                    type="password"
                    v-model="password"
                  />

                  <v-text-field
                    id="confirmPassword"
                    label="Confirmar Senha"
                    :rules="confirmRules"
                    name="confirmPassword"
                    type="password"
                    v-model="confirmPassword"
                  />
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-btn color="secondary" to="/login">ir para Login</v-btn>
                <v-spacer />
                <v-btn color="primary" @click.stop="createUser">Cadastrar</v-btn>
              </v-card-actions>
            </v-card>
             <v-fade-transition>
              <v-alert class="mt-4" v-if="showError" type="error">
                Não foi possivel cadastrar o usuario
              </v-alert>
             </v-fade-transition>
          </v-col>
        </v-row>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  data(){
    return {
      email: "",
      password: "",
      confirmPassword: "",
      showError: false,

      valid: false,
      passRules: [ v => v.length >= 6 ],
      confirmRules: [ 
        v => v.length >= 6,
        v => v === this.password
      ],
    }
  },
  watch: {
    status(newValue){
      if(newValue === 'failure'){
        this.showError = true
        // console.error(this.error)
        setTimeout(() => {
          this.showError = false
        }, 2000)
      } else if(newValue === 'success'){
        this.$router.push('/')
      }
    }
  },
  computed: {
    ...mapGetters('users', ['error', 'status'])
  },
  methods:{
    createUser(){
      this.$store.dispatch('users/createUser', {
        email: this.email,
        password: this.password
      })
      this.clearFields()
    },
    clearFields(){
      this.password = ""
      this.email = ""
      this.confirmPassword = ""
    }
  }
}
</script>

<style>

</style>