<template>
    <div>
        <v-navigation-drawer
        v-model="drawer"
        app
        >
        <v-list dense>
            <v-list-item link to="/" @click.stop="showMenu">
                <v-list-item-action>
                    <v-icon>mdi-home</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                    <v-list-item-title>Pagina Inicial</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-list-item link v-show="!user" to="/login" @click.stop="showMenu">
                <v-list-item-action>
                    <v-icon>mdi-contact-mail</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                    <v-list-item-title>Entrar / Registrar</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-list-item link v-show="user" to="/profile" @click.stop="showMenu">
                <v-list-item-action>
                    <v-icon>mdi-contact-mail</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                    <v-list-item-title>Perfil</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-list-item link v-show="user" to="/cards" @click.stop="showMenu">
                <v-list-item-action>
                    <v-icon>mdi-contact-mail</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                    <v-list-item-title>Cards</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </v-list>
        </v-navigation-drawer>

        <v-app-bar
            app
            color="blue"
            dark
        >
            <v-app-bar-nav-icon @click.stop="showMenu" />
            <v-toolbar-title v-if="user">
                Anotações <small><strong>{{ user.email }}</strong></small>
            </v-toolbar-title>
            <v-toolbar-title v-else>
                Anotações
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn v-if="user" text @click="signOut">
                Sair
            </v-btn>
            <v-btn v-else text to="/login">
                Entrar
            </v-btn>
        </v-app-bar>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
    data(){
        return {
            drawer: false
        }
    },
    computed: {
        ...mapGetters('users', ['user']),
    },
    methods:{
        showMenu(){
            this.drawer = !this.drawer
        },
        signOut(){
            this.$store.dispatch('users/signOut')
            this.$router.push('/login')
        }
    }
}
</script>

<style>

</style>