<template>
  <v-app>
    <Header />
    <v-content>
      <v-container>
        <v-scroll-y-transition mode="out-in">
          <router-view></router-view>
        </v-scroll-y-transition>
      </v-container>
    </v-content>
    <Footer />
  </v-app>
</template>

<script>
import Header from './components/template/Header'
import Footer from './components/template/Footer'

export default {
  components: { Header, Footer },
  mounted() {
    this.$store.dispatch('users/authState')
  },
}
</script>